@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */
body{
    font-family: "Work Sans", sans-serif;
}
main{
    max-width: 1100px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* shared style */
.display-flex{
    display: flex;
}
.bg-light-orange{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark1{
    color: #131313;
}
.dark2{
    color: #424242;
}
.dark3{
    color: #727272;
}
.btn-primary{
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
    font-weight: 600px;
    font-size: 1.25rem;
}
/* header style */


/* navbar style */
.brand{
    font-weight: 700;
    font-size: 2.8rem;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1100px;
    margin: 0 auto;
}
/* banner style */
.banner-content{
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
}
/* teams and features style */
.teams{
    align-items: center;
    gap: 50px;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-image-container img{
    width: 300px;
}
.our-features{
    max-width: 400px;
    
}
.section-title{
    font-size: 2.6rem;
    font-weight: 700;
}
#quick-list{
    font-weight: 500;
}
#features{
    color: #FF900E;
}
/* some fact related style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    height: 240px;
    width: 240px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* add media query for small device */
@media screen and  (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-image-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* add media query for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
    flex-direction: column;
    }
}